<h1>Show</h1>
<table border=1>
<tr>
	<th>Name</th>
	<th>Age</th>
	<th>Adress</th>
	<th>Email</th>
	

</tr>

  <tr>
	  <td><%=@user.name%></td>
	  <td><%=@user.age%></td>
	  <td><%=@user.adress%></td>
	  <td><%=@user.email%></td>
  </tr>
</table>
